{% extends 'basepage.html' %}
{% load static %}
{% block Title %}Reset Request{% endblock  %}
{% block Style %}<link rel="stylesheet" type="text/css"  href="{% static 'css/ResetReqest.css' %}"/>{% endblock  %}


{% block Content %}
<div class="ResetReqestEmailContainer">
    <div class="ResetReqestEmail">
        <ul>
            <form class="RequestResetInputContainer" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{Sucess}}</p>
                <p>{{Error}}</p>
              {% for Elements in UploadForm %}
                    <li>{{Elements.label_tag}}</li>
                    <li>{{Elements}}</li>
                {% endfor %}
                <li><button type="submit" class="SubmitButton">Upload</button></li>
            </form>
        </ul>
    </div>
</div>
<div class="FooterResetRequest">
    <ul>
        <div class="PresidencyImage">
            <img src="{% static 'Images/Presidency_University_Kolkata_.png' %}" srcset="{% static 'Images/Presidency_University_Kolkata_.png' %} 1x, {% static 'Images/Presidency_University_Kolkata_.png' %} 2x" />
        </div>
    </ul>
    <ul>
        <li><a href="">About</a><li>
        <li><a href="">Libraries</a><li>
        <li><a href="">Libraries</a><li>
        <li><a href="">About Calcutta University</a><li>
        <li><a href="">Accessibility</a><li>
    </ul>
    <ul>
        <li><a href="">Press and Media</a><li>
        <li><a href="">Term of Use</a><li>
        <li><a href="">Privecy Policy</a><li>
        <li><a href="">Contact</a><li>
    </ul>
</div>
{% endblock %}