{% extends 'basepage.html' %}
{% load static %}
{% block Title %}Mail Sent{% endblock  %}
{% block Style %}<link rel="stylesheet" type="text/css"  href="{% static 'css/Mailsent.css' %}"/>{% endblock  %}


{% block Content %}
<div class="MailSentContainer">
    <div class="MailSent">
        <p>A mail Sent to you to verify your Account, Go to Your mail and Click on the Link</p>
    </div>
</div>
<div class="FooterMailSent">
    <ul>
        <div class="PresidencyImage">
            <img src="{% static 'Images/Presidency_University_Kolkata_.png' %}" srcset="{% static 'Images/Presidency_University_Kolkata_.png' %} 1x, {% static 'Images/Presidency_University_Kolkata_.png' %} 2x" />
        </div>
    </ul>
    <ul>
        <li><a href="">About</a><li>
        <li><a href="">Libraries</a><li>
        <li><a href="">Libraries</a><li>
        <li><a href="">About Calcutta University</a><li>
        <li><a href="">Accessibility</a><li>
    </ul>
    <ul>
        <li><a href="">Press and Media</a><li>
        <li><a href="">Term of Use</a><li>
        <li><a href="">Privecy Policy</a><li>
        <li><a href="">Contact</a><li>
    </ul>
</div>
{% endblock %}