{% extends 'basepage.html' %}
{% load static %}
{% block Title %}Create Account{% endblock  %}
{% block Style %}<link rel="stylesheet" type="text/css"  href="{% static 'css/Register.css' %}"/>{% endblock  %}

{% block Content %}
<div class="SihnUpContainerCont">
    <div class="SignUpContainer">
        <ul>
            <div class="SignInButtonContainer">
                <p>Aready Have an Account?</p>
                <a href="{% url 'Login' %}"><button class="SihnUpButton">Sign In</button></a>
                
            </div>
        </ul>
        <hr>
        <ul>
            <form class="SignUpInputContainer" method="POST">
                {% csrf_token %}
                {% for i in Registration_Form %}
                        <li>{{i}}</li>
                        {% if field.help_text %}
                            <small style="color: grey;">{{i.help_text}}</small>
                        {% endif %}
                        {% for error in i.errors %}
                            <p style="color: red;">{{error}}</p>
                        {% endfor %}
                    {% endfor %}
                <button type="submit" class="SubmitButton">Create Account</button>
            </form>
        </ul>
    </div>
</div>
{% endblock %}